/* Video.css */
.video-page {
  margin-left: 3.5em;  /* Centering the container with automatic left-right margins */
  margin-right: 3.5em;
  margin-top: 2em;
  padding: 0 2em;    /* Added some padding for internal spacing */
  display: flex;
  border-radius: 1em;
  justify-content: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #fff;
}

.video-container {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 85%;
  border-radius: 20px;
  background-color: #fff;
}

/* Media Queries */

/* For medium screens (below 1250px) */
@media (max-width: 1250px) {
  
  .video-page {
      padding: 0 1.5em;
      margin-left: 3.0em;  
      margin-right: 3.0em;
  }
  .video-container {
     max-width: 80%;
      grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1100px){
  .video-container {
      max-width: 90%;
     
 }
}
@media (max-width: 1100px){
  .video-container {
      max-width: 95%;
    
 }
}
/* For smaller screens (below 950px) */
@media (max-width: 950px) {
  .video-page {
      padding: 0 1.5em;
      margin-left: 2.0em;  
      margin-right: 2.0em;
  }
  .video-container {
     width: 100%;
     max-width: 100%;
      grid-template-columns: repeat(2, 1fr);
  }
}

/* For smaller tablet screens (below 800px) */
@media (max-width: 800px) {
  .video-page {
      padding: 0 1em;
      margin-left: 1.0em;  
      margin-right: 1.0em;
  }
  .video-container {
      max-width: 100%;
      grid-template-columns: repeat(2, 1fr)
  }
}

/* For mobile screens (below 750px) */
@media (max-width: 750px) {
  .video-page {
      padding: 0 0.5em;
      margin-left: 0.5em;  
      margin-right: 0.5em;
  }
  .video-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* For smaller mobile screens (below 500px) */
@media (max-width: 500px) {
  .video-page {
      padding: 0 0.5em;
  }
  .video-container {
     max-width: 80%;
      grid-template-columns: 1fr;
      gap: 15px;
  }
}

/* For very small mobile screens (below 400px) */
@media (max-width: 400px) {
  .video-page {
      padding: 0 0.25em;
      margin-left: 0em;  
      margin-right:0em;
      max-width: 100%;
  }
  .video-container {
     
      grid-template-columns: 1fr;
      gap: 10px;
  }
}

/* For extra small screens (below 350px) */
@media (max-width: 350px) {
  .video-page {
      padding: 0 0.1em;
  }
  .video-container {
      grid-template-columns: 1fr;
      gap: 5px;
  }
}
