.exam-routine {  
  padding: 1em;
  border-radius: 1em;
  background:white;
   
  }

  .exam-routine-section,
  .exam-routine-exam-name,
  .exam-routine-department,
  .exam-routine-year {
    margin-bottom: 15px;
  }
 
  .exam-routine-section p,
  .exam-routine-exam-name p,
  .exam-routine-department p,
  .exam-routine-year p {
    margin: 0 0 5px;
    font-weight: bold;
  }
 
  .exam-routine-section select,
  .exam-routine-exam-name select,
  .exam-routine-department select,
  .exam-routine-year input {
    width: 50%;
    padding: 8px;
    height: 3em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  
  
  .exam-routine-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
  }
  
 .exam-routine-button button[type="submit"] {
    width: 10%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exam-routine-file{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .exam-routine-file a{
    padding: .5em;
    background-color: chartreuse;
    border-radius: 10px;
    color:red
  }
  .error-exam-routine{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .exam-routine-button button[type="submit"]:hover {
    background-color: #45a049;
  }
  

  @media(max-width:800px){
  
    .exam-routine-section select,
    .exam-routine-exam-name select,
    .exam-routine-department select,
    .exam-routine-year input{
      width: 60%;
      padding: 7px;
      height: 2.5em;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 12px;
    }

    .exam-routine-section p,
    .exam-routine-exam-name p,
    .exam-routine-department p,
    .exam-routine-year p {
    font-size: 1em;
  }
  .exam-routine-button button[type="submit"]{
    width: 15%;
  }
  }

  @media(max-width:650px){
   
    .exam-routine-section select,
    .exam-routine-exam-name select,
    .exam-routine-department select,
    .exam-routine-year input{
      width: 80%;
    }

    .exam-routine-section p,
    .exam-routine-exam-name p,
    .exam-routine-department p,
    .exam-routine-year p{
    font-size: 0.9em;
  }
  .exam-routine-button button[type="submit"]{
    width: 20%;
  }

  
  }


  @media(max-width:500px){
   
    .exam-routine-section select,
    .exam-routine-exam-name select,
    .exam-routine-department select,
    .exam-routine-year input{
      width: 100%;
    }

    .exam-routine-section p,
    .exam-routine-exam-name p,
    .exam-routine-department p,
    .exam-routine-year p{
    font-size: 0.9em;
  }
  .exam-routine-button button[type="submit"]{
    width: 30%;
  }

  
  }